.container {
    max-width: 100%;
    width: 960px;
    padding: 0 10px;
    margin: 0 auto;
}

.homeTitle {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin: 10px 0;
}

/* ========== home header ========== */

.trackPageHeaderList {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;
    margin: 20px 0;
}

.trackPageHeaderList> li {
    width: 25%;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}

.horizontalLine {
    border: 1px solid #000000;
    margin: 10px 0;
}

/* ========== home list ========== */

.homeList {
    list-style: none;
    padding: 0 20px;
    margin: 20px 0;
}

.homeListItem {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    margin: 5px 0;
}

.homeListItem:focus,
.homeListItem:hover {
    background: gray;
}

.homeListItem> p {
    width: 25%;
    text-align: left;
    word-wrap: break-word;
    text-transform: capitalize;
    padding: 0 10px;
}

.homeListItem> a {
    width: 25%;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    color: lightpink;
    word-wrap: break-word;
    /* text-transform: capitalize; */
    transition: all 0.3s linear;
    padding: 0 10px;
}

.homeListItem> a:focus,
.homeListItem> a:hover {
    transform: scale(1.2, 1.2);
}

.homeListItem> img {
    padding: 5px;
}

/* .homeListItem:nth-child(3n-7) {
    background-color: chartreuse;
}

.homeListItem:nth-child(3n-6) {
    background-color: coral;
}

.homeListItem:nth-child(3n-5) {
    background-color: cyan;
} */

.track {
    font-size: 18px;
    font-weight: 500;
    text-align: left;
}

.artist {
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    padding: 0 10px;
    color: lightpink;
    transition: all 0.3s linear;
}

.artist:focus,
.artist:hover {
    transform: scale(1.1, 1.1);
}

